name: Build & Push Docker Images

on:
  push:
    branches: [main]
    paths:
      - 'app/**'
      - 'app/manifests/**'
      - 'app/user-service/**'
      - 'app/store-service/**'
      - 'app/db-service/**'
      - 'app/admin-service/**'
      - '.github/workflows/**'

jobs:
  build:
    runs-on: self-hosted
    
    strategy:
      fail-fast: false
      matrix:
        service: [user-service, store-service, db-service, admin-service]
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Read VERSION for ${{ matrix.service }}
        shell: bash
        run: |
          VERSION_FILE="app/${{ matrix.service }}/VERSION"
          VERSION="$(tr -d '\r\n ' < "$VERSION_FILE")"
          if [ -z "$VERSION" ]; then
            echo "Empty VERSION in $VERSION_FILE" >&2
            exit 1
          fi

          echo "SERVICE_VERSION=$VERSION" >> "$GITHUB_ENV"
          echo "Service ${{ matrix.service }} version: $VERSION"
      
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      # - name: Set up QEMU
      #   uses: docker/setup-qemu-action@v3
      - name: Set up Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push ${{ matrix.service }} Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./app/${{ matrix.service }}
          file: ./app/${{ matrix.service }}/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ matrix.service }}:${{ env.SERVICE_VERSION }}