name: Build & Push Docker Images

on:
  push:
    branches: [main]
    paths:
      - 'user-service/**'
      - 'store-service/**'
      - 'db-service/**'
      - 'admin-service/**'
      - '.github/workflows/**'

jobs:
  build:
    runs-on: self-hosted
    strategy:
      matrix:
        service: [user-service, store-service, db-service, admin-service]
    steps:
      - uses: actions/checkout@v3
      - run: echo "Testing ${{ matrix.service }}"