name: Build & Push Docker Images

on:
  push:
    branches:
      - main
    paths:
      - 'user-service/**'
      - 'store-service/**'
      - 'db-service/**'
      - 'admin-service/**'

jobs:
  build:
    runs-on: self-hosted

    strategy:
      matrix:
        service:
          - user-service
          - store-service
          - db-service
          - admin-service
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: test
        run: echo "Testing ${ { matrix.service } }"
